.balanceFund {
  display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

.accountBalance {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem .2rem;
  border-radius: 12px;
}

.balanceTitle {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #070707;
  text-transform: uppercase;
}

.balanceAmount {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #193e2d;
  text-shadow: 0 0 10px rgba(0, 255, 136, 0.4);
}