.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  width: 30rem;
  text-align: center;
  align-items: center;
}

.eventQuestion {
  font-size: 1.25rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 1.5rem;
}

.buttonGroup {
  display: flex;
  padding: 1rem 5rem;
  gap: 4rem;

  @media (max-width: 768px) {
    justify-content: center;
    margin-left: 0;
  }
}

.buttonGroup button {
  font-size: 0.85rem;
  min-width: 0;
  padding: 0 1rem;
}

.tradeAmount {
  margin: 1rem;
  text-transform: uppercase;
}

.balance {
  margin-left: 1rem;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}
